* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

main {  
  margin-left: 100px;
}

img {
  width: 500px;
  height: 500px;
}

h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  color: #515151;
}

h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #515151;
}

p {
  width: 525px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #848484;
  margin: 32px 0 65px;
}

button {
  width: 239px;
  height: 64px;
  background: #adff00;
  border-radius: 21px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  border: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  section {
    flex-direction: column;
  }

  img {
    width: 395px;
    height: 300px;
  }

  main {
    margin: 0;
  }

  h1 {
    font-size: 50px;
    line-height: 61px;
  }

  h2 {
    font-size: 30px;
    line-height: 37px;
  }

  p {
    display: none;
  }

  button{
    margin-top: 46px;
  }
}
